<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Quick Link</h4>
                <a class="btn btn-link" href="/product">Home</a>
                <a class="btn btn-link" href="/about">About Us</a>
                <a class="btn btn-link" href="/contact">Contact Us</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Follow Us</h4>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/bobapeer/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Contact Us</h4>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i>Bobapeer.id
                </p>
                <p class="mb-2">
                    <i class="fa fa-phone-alt me-3"></i>+62 812-3456-789
                </p>
                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>Bobapeer.id@gmail.com
                </p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Our Team Project</h4>
                <ul class="list-unstyled mb-0">
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2">Ulil Fathon</li>
                        <li class="mb-2">Ramadhani Rizky Syahputra</li>
                        <li class="mb-2">M. Rizki Yuliandri</li>
                        <li class="mb-2">Romaria Lastria</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Bobapeer</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->