{% extends "admin/layout/layoutadmin.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<hr>
<div class="row">
    <div class="col mb-3">
        <h2>Data Produk</h2>
        <hr>
    </div>
</div>
<div class="container">
    <div class="table-responsive mt-3 ">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Foto Produk</th>
                    <th scope="col">Nama Produk</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Opsi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><img src="{{ url_for('static', filename='img/1.png') }}" alt=""></td>
                    <td>Produk A</td>
                    <td>$100</td>
                    <td>50</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm text-white me-2">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm text-white me-2">Hapus</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><img src="{{ url_for('static', filename='img/1.png') }}" alt=""></td>
                    <td>Produk B</td>
                    <td>$80</td>
                    <td>30</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm text-white me-2">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm text-white me-2">Hapus</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><img src="{{ url_for('static', filename='img/1.png') }}" alt=""></td>
                    <td>Produk C</td>
                    <td>$120</td>
                    <td>20</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm text-white me-2">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm text-white me-2">Hapus</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-end mt-3 px-5">
    <a href="/tambahproduk" class="btn btn-primary">Tambah</a>
</div>
{% endblock %}
