{% extends "/user/layout/layoutuser.html" %}
{% block content %}
<div class="container" style="margin-top: 8rem;">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="text-muted badge badge-secondary badge-pill">{{ cart_items|length }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% for item in cart_items %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ item.product_name }}</h6>
            <span class="text-muted">jumlah : {{ item.quantity }}</span>
          </div>
          <span class="text-muted">Rp. {{ '{:,}'.format(item.product_price * item.quantity) }}</span>
        </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (RUPIAH)</span>
          <strong>Rp {{ '{:,}'.format(total_harga)}} </strong>
        </li>
      </ul>
      <div class="mb-3">
        <h6>Pengiriman</h6>
        <p>Pengiriman : {{ pengiriman }}</p>
        <p class="small text-muted" style="margin-bottom: 3px;">Note:</p>
        <p class="text-muted small">jika pengiriman diantar, biaya ongkir akan dihubungi lewat whatapps</p>
      </div>
    </div>
    <div class="col-md-8 order-md-1" style="margin-top: 2rem;">
      <h4 class="mb-3">Alamat pembeli</h4>
      <form id="paymentForm" class="needs-validation" novalidate method="POST">
        <div class="mb-3">
          <label for="namalengkap">Nama Lengkap</label>
          <input type="text" class="form-control" id="namalengkap" name="namalengkap" required />
          <div class="invalid-feedback">Please enter your name.</div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" value="{{ username }}" readonly />
          </div>
        </div>

        <div class="mb-3">
          <label for="nohp">No HP <span class="text-muted">(Wajib)</span></label>
          <input type="number" class="form-control" id="nohp" placeholder="+62" required value="{{ user.notelp }}" />
          <div class="invalid-feedback">Please enter your phone number.</div>
        </div>

        <div class="mb-3">
          <label for="address">Alamat</label>
          <textarea class="form-control" id="address" placeholder="Jalan" name="address" required>{{ user.address }}</textarea>
          <div class="invalid-feedback">Please enter your shipping address.</div>
        </div>

        <div class="mb-3">
          <label for="address2">Alamat 2 <span class="text-muted">(Optional)</span></label>
          <textarea class="form-control" id="address2" placeholder="Norumah" name="address2"></textarea>
        </div>

        <hr class="mb-4" />

        <h4 class="mb-3">Payment</h4>
        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="bank" name="paymentMethod" type="radio" class="custom-control-input" checked required />
            <label class="custom-control-label" for="bank">Bank</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="qris" name="paymentMethod" type="radio" class="custom-control-input" required />
            <label class="custom-control-label" for="qris">Qris</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="cod" name="paymentMethod" type="radio" class="custom-control-input" required />
            <label class="custom-control-label" for="cod">COD</label>
          </div>
        </div>
        
        <hr class="mb-4" />
        <button class="btn btn-primary btn-lg btn-block" type="submit">Pay</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById('paymentForm').addEventListener('submit', function(event) {
    const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked').id;
    let actionUrl = '';

    switch (selectedPaymentMethod) {
      case 'bank':
        actionUrl = '/bank';
        break;
      case 'qris':
        actionUrl = '/qris';
        break;
      case 'cod':
        actionUrl = '/cod';
        break;
     
    }

    this.action = actionUrl;
  });
</script>
{% endblock %}
