<script>
  document.addEventListener('DOMContentLoaded', function () {
    const radioButtons = document.querySelectorAll('input[name="paymentMethod"]');
    radioButtons.forEach(radio => {
      radio.addEventListener('change', showPaymentSection);
    });
    showPaymentSection(); // Show the initial selection
  });

  function showPaymentSection() {
    const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').id;
    const bankSection = document.getElementById('bank-section');
    const qrisSection = document.getElementById('qris-section');
    const codSection = document.getElementById('cod-section');

    bankSection.style.display = 'none';
    qrisSection.style.display = 'none';
    codSection.style.display = 'none';

    if (paymentMethod === 'bank') {
      bankSection.style.display = 'block';
    } else if (paymentMethod === 'qris') {
      qrisSection.style.display = 'block';
    } else if (paymentMethod === 'cod') {
      codSection.style.display = 'block';
    }
  }

  function copyToClipboard() {
    const accountNumber = document.querySelector('.account-number').innerText.trim();
    navigator.clipboard.writeText(accountNumber).then(function () {
      Swal.fire({
        icon: 'success',
        title: 'Copied!',
        text: 'Nomor rekening disalin ke clipboard!'
      });
    }, function () {
      Swal.fire({
        icon: 'error',
        title: 'Failed!',
        text: 'Gagal menyalin nomor rekening.'
      });
    });
  }

  $(document).ready(function () {
    $('#paymentForm').on('submit', function (event) {
      event.preventDefault(); // Prevent the default form submission

      // Collect form data
      var formData = new FormData(this);

      // Validate required fields
      if (!$('#namalengkap').val()) {
        Swal.fire({
          icon: 'warning',
          title: 'Oops...',
          text: 'Tolong masukkan nama lengkap.'
        });
        return;
      }

      if (!$('#nohp').val()) {
        Swal.fire({
          icon: 'warning',
          title: 'Oops...',
          text: 'Tolong masukkan nomor HP.'
        });
        return;
      }

      if (!$('#address').val()) {
        Swal.fire({
          icon: 'warning',
          title: 'Oops...',
          text: 'Tolong masukkan alamat.'
        });
        return;
      }

      // Include selected payment method section data
      const paymentMethod = $('input[name="paymentMethod"]:checked').attr('id');
      let valid = true;

      // Validate file upload for bank and qris payment methods
      if (paymentMethod === 'bank') {
        if (!$('#bankProof')[0].files.length) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'Tolong Upload Foto Screenshot Bukti Transfer Pembayaran!.'
          });
          valid = false;
        } else if (!validateFile($('#bankProof')[0].files[0])) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'File tidak valid. Hanya menerima format JPG, JPEG, dan PNG.'
          });
          valid = false;
        } else {
          formData.append('payment_method', 'bank');
        }
      } else if (paymentMethod === 'qris') {
        if (!$('#qrisProof')[0].files.length) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'Tolong Upload Foto Screenshot Bukti Transfer Qris.'
          });
          valid = false;
        } else if (!validateFile($('#qrisProof')[0].files[0])) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops...',
            text: 'File tidak valid. Hanya menerima format JPG, JPEG, dan PNG.'
          });
          valid = false;
        } else {
          formData.append('payment_method', 'qris');
        }
      } else if (paymentMethod === 'cod') {
        formData.append('payment_method', 'cod');
      }

      if (!valid) {
        return; // Stop form submission if validation fails
      }

      // Append phone number manually to formData
      formData.append('nohp', $('#nohp').val());

      $.ajax({
        url: '/pesan',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          if (response.result === 'success') {
            Swal.fire({
              icon: 'success',
              title: 'Success',
              text: 'Produk Telah Berhasil Dipesan!'
            }).then(function () {
              window.location.href = '/statuspesananuser';
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'Failed to place order: ' + response.message
            });
          }
        },
        error: function (xhr, status, error) {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Error: ' + error
          });
        }
      });
    });

    function validateFile(file) {
      const validExtensions = ['jpg', 'jpeg', 'png'];
      const fileExtension = file.name.split('.').pop().toLowerCase();
      return validExtensions.includes(fileExtension);
    }
  });
</script>