{% extends "user/layout/layoutuser.html" %}

{% block content %}
<div class="container my-6 pt-5">
    <h4 class="mb-4">Detail Pesanan</h4>
    <div class="bg-light p-4 rounded mb-4 shadow-sm">
        <div class="row align-items-start mb-4">
            <div class="col-lg-3 col-md-6 mb-4">
                <p class="text-muted mb-1"><strong>{{ order.created_at }}</strong></p>
                <p class="mb-1">Order ID: {{ order._id }}</p>
                <p class="mb-1">Total Harga: {{ order.total_harga }}</p>
                <p class="mb-1">Status: {{ order.status }}</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-4">Produk yang dipesan</h5>
                {% for item in order.cart_items %}
                <div class="mb-4">
                    <div class="text-left">
                        <div class="bg-icon rounded-circle d-flex justify-content-center align-items-center mb-4"
                            style="width: 100px; height: 100px;">
                            <img src="{{ url_for('static', filename='imgproduct/' + item.product_photo) }}"
                                alt="Foto Produk" style="width: 100%;">
                        </div>
                        <div class="mt-2">
                            <p class="mb-1"><strong>{{ item.product_name }}</strong></p>
                            <p class="mb-1">Quantity: {{ item.quantity }}</p>
                            <p class="mb-1">Harga: {{ item.product_price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-4">Detail Pembayaran</h5>
                <p class="mb-1">Metode Pembayaran: {{ order.payment_method }}</p>
                {% if order.payment_proof %}
                <p class="mb-1">Bukti Pembayaran: <img src="{{ url_for('static', filename=order.payment_proof) }}"
                        alt="Bukti Pembayaran" style="width: 100px;"></p>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-4">Detail Pengiriman</h5>
                <p class="mb-1">Pengiriman: {{ order.pengiriman }}</p>
                <p class="mb-1">Alamat: {{ order.address }}</p>
                {% if order.address2 %}
                <p class="mb-1">Alamat 2: {{ order.address2 }}</p>
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{{ url_for('statuspesananuser') }}" class="btn btn-secondary mt-4">Kembali ke Status Pesanan</a>
        </div>
    </div>
</div>
{% endblock %}