{% extends "user/layout/layoutuser.html" %}

{% block content %}
<div class="container my-6 pt-5">
    <h4 class="mb-4">Detail Pesanan</h4>
    <div class="bg-light p-4 rounded mb-4 shadow-sm">
        <div class="row align-items-center mb-4">
            <div class="col-lg-6 col-md-5">
                <p class="text-muted mb-1"><strong>{{ order.created_at }}</strong></p>
                <p class="mb-1">Order ID: {{ order._id }}</p>
                <p class="mb-1">Total Harga: {{ order.total_harga }}</p>
                <p class="mb-1">Status: {{ order.status }}</p>
            </div>
        </div>
        <h5 class="mb-4">Produk yang dipesan</h5>
        {% for item in order.cart_items %}
        <div class="row align-items-center mb-4">
            <div class="col-2 text-center">
                <div class="bg-icon rounded-circle d-flex justify-content-center align-items-center"
                    style="width: 100px; height: 100px;">
                    <img src="{{ url_for('static', filename='imgproduct/' + item.product_photo) }}" alt="Foto Produk"
                        style="width: 100%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <p class="mb-1"><strong>{{ item.product_name }}</strong></p>
                <p class="mb-1">Quantity: {{ item.quantity }}</p>
                <p class="mb-1">Harga: {{ item.product_price }}</p>
            </div>
        </div>
        {% endfor %}
        <h5 class="mb-4">Detail Pembayaran</h5>
        <p class="mb-1">Metode Pembayaran: {{ order.payment_method }}</p>
        {% if order.payment_proof %}
        <p class="mb-1">Bukti Pembayaran: <img src="{{ url_for('static', filename=order.payment_proof) }}"
                alt="Bukti Pembayaran" style="width: 100px;"></p>
        {% endif %}
        <h5 class="mb-4">Detail Pengiriman</h5>
        <p class="mb-1">Pengiriman: {{ order.pengiriman }}</p>
        <p class="mb-1">Alamat: {{ order.address }}</p>
        {% if order.address2 %}
        <p class="mb-1">Alamat 2: {{ order.address2 }}</p>
        {% endif %}
        <a href="{{ url_for('statuspesananuser') }}" class="btn btn-secondary mt-4">Kembali ke Status Pesanan</a>
    </div>
</div>
{% endblock %}