{% extends "/user/layout/layoutuser.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<div class="mycontainer">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- FOTO PENGGUNA SIDEBAR -->
        <div class="profile-userpic">
          <img src="{{ url_for('static', filename=user.get('profile_picture', 'default.jpg')) }}" class="rounded-circle"
            width="250" height="250">
        </div>
        <!-- AKHIR FOTO PENGGUNA SIDEBAR -->
        <!-- JUDUL PENGGUNA SIDEBAR -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            {{ user.username }}
          </div>
          <div class="profile-usertitle-job">
            User
          </div>
        </div>
        <!-- AKHIR JUDUL PENGGUNA SIDEBAR -->
        <!-- MENU SIDEBAR -->
        <div class="profile-usermenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="glyphicon glyphicon-home"></i>
                Overview
              </a>~
            </li>
            <li class="nav-item">
              <a href="/statuspesananuser" class="nav-link" target="_blank">
                <i class="glyphicon glyphicon-ok"></i>
                Status Pesanan
              </a>
            </li>
            <li class="nav-item">
              <a href="/logoutuser" class="nav-link">
                <i class="glyphicon glyphicon-flag"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
        <!-- AKHIR MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <div class="container rounded bg-white">
          <div class="row">
            <div class="col-md-4 border-right">
              <div class="d-flex flex-column align-items-center text-center py-1 gap-2">
                <img class="rounded-circle mt-5"
                  src="{{ url_for('static', filename=user.get('profile_picture', 'default.jpg')) }}"
                  class="rounded-circle" width="250" height="250">
                <form id="profile-form" method="POST" enctype="multipart/form-data">
                  <input type="file" name="profile_picture"> Masukan Photo Profil
              </div>
            </div>
            <div class="col-md-8">
              <div class="mt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <div class="d-flex flex-row align-items-center back">
                    <a href="/product" class="text-muted">
                      <i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                      <h6>Back to home</h6>
                    </a>
                  </div>
                  <h6 class="text-right">Edit Profil</h6>
                </div>
                <div class="form-group">
                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameuser" name="username"
                      value="{{ user.username }}">
                  </div>
                  <div class="form-group">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="alamatemail" name="email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                      <div class="mb-3">
                        <label for="notelp" class="form-label">No Telephone</label>
                        <input type="number" class="form-control" id="notelp" name="notelp" value="{{ user.notelp }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="mb-3">
                        <label for="address">Alamat</label>
                        <textarea type="text" class="form-control" id="address"
                          name="address">{{ user.address }}</textarea>
                      </div>
                    </div>
                    <div class="mt-2 mb-4 text-right">
                      <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .rounded-circle {
      object-fit: cover;
    }
  </style>
  {% endblock %}