{% extends "user/layout/layoutuser.html" %}

{% block content %}
<div class="container my-6 pt-5">
    <h4 class="mb-4">Status Pesanan</h4>
    {% for order in orders %}
    <div class="bg-light p-4 rounded mb-4 shadow-sm">
        <div class="row align-items-center">
            <div class="col-2 text-center">
                <div class="bg-icon rounded-circle d-flex justify-content-center align-items-center"
                    style="width: 100px; height: 100px;">
                    <img src="{{ url_for('static', filename='imgproduct/' + order.cart_items[0].product_photo) }}"
                        alt="Foto Produk" style="width: 100%;">
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <p class="text-muted mb-1"><strong>{{ order.date }}</strong></p>
                <p class="mb-1">Order ID: {{ order._id }}</p>
                <p class="mb-1">Total Harga: {{ order.total_harga }}</p>
                <p class="mb-1">Status: {{ order.status }}</p>

            </div>
            <div class="col-lg-4 col-md-5 text-end">
                <button class="btn btn-primary mb-2 me-2">Detail</button>
                <button class="btn btn-primary mb-2">Finish</button>
                <div>
                    <button class="btn btn-outline-secondary me-2">Review</button>
                    <button class="btn btn-outline-secondary">Buy Again!</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}